@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.imageFilter {
  filter: invert(1);
}

.navigation > a {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.custom-book-taxi {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  padding: 24px 90px 20px 60px;
  font-weight: 700;
  color: white;
  background-color: #fbbf24;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.custom-book-taxi:before {
  content: "";
  position: absolute;
  top: 0;
  right: 25px;
  width: 7px;
  height: 100%;
  -webkit-transform: skewX(-21deg);
  transform: skewX(-21deg);
  background-color: black;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
}

.custom-book-taxi:hover {
  color: #d97706;
  background-color: #fef3c7;
}

.main-slider::before {
  content: "";
  position: absolute;
  top: -1px;
  width: 50%;
  height: 100%;
  background-image: url("/Images/cab-dwarka.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(100% 0%, 100% 100%, 0 0%, 0 0, 0% 0%);
  z-index: 1;
}

.main-slider::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  background: white;
  /* background-image: url('/Images/dwarka-best-cab-service.svg');   */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: path("M0,114 C150,0 1465,161 2006,149 L500,191 L0,225 Z");
  z-index: 1;
  bottom: 0;
  border-top: #0a0a0a;
}

.custom-book-taxi2 {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  padding: 24px 90px 20px 60px;
  font-weight: 700;
  color: white;
  background-color: #0b7289;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.custom-book-taxi2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 34px;
  width: 7px;
  height: 100%;
  -webkit-transform: skewX(-36deg);
  transform: skewX(-38deg);
  background-color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
}

.booking-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 95px;
  height: 100%;
  width: 235px;
  background-color: #0b7289;
  -webkit-transform: skew(-19deg);
  transform: skew(-19deg);
  pointer-events: none;
  z-index: 1;
}

.booking-section::after {
  content: "";
  position: absolute;
  background-image: url("/Images/dwarka-texi-car.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.booking-section {
  box-shadow: 8px -2px 8px gray;
}

.booking-sectionbtn {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 61px 16px 32px;
  font-weight: 700;
  color: white;
  background-color: #fbbf24;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.booking-sectionbtn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 25px;
  width: 7px;
  height: 100%;
  -webkit-transform: skewX(-21deg);
  transform: skewX(-21deg);
  background-color: black;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 0 100%);
}

.booking-sectionbtn:hover {
  color: #d97706;
  background-color: #fef3c7;
}

.taxi-animation {
  position: absolute;
  top: 0;
  left: -50px;
  animation: moveTaxiContinuous 20s linear infinite;
}



@keyframes moveTaxiContinuous {
  0% {
    left: -50px;
  }
  100% {
    left: 100%;
  }
}

.tranfrom {
  transform: translate(0%, -7.122%) translate3d(0px, 0px, 0px);
}

.faqs-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1px;
  height: 100%;
  width: 153px;
  background-color: yellow;
  -webkit-transform: skew(-18deg);
  transform: skew(-22deg);
  pointer-events: none;
}

.faqs-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 144px;
  height: 238.5px;
  width: 121px;
  background-color: #000;
  -webkit-transform: skew(-20deg);
  transform: skew(-25deg);
  pointer-events: none;
}

.faqs-section_image {
  clip-path: polygon(49% 0%, 94% 0px, 49% 100%, 0% 100%);
  margin-bottom: 0;
  margin-left: 55px;
}

@layer utilities {
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .animate-slideDown {
    animation: slideDown 0.5s ease-in-out;
  }
}






@media only screen and (max-width: 1536px) {
  .faqs-section:before {
    transform: skew(-25deg);
  }
}
